.adopt {
	fill: rgb(130,130,130);
	stroke: white;
}

.trial {
	fill: rgb(180,180,180);
	stroke: white;
}

.assess {
	fill: rgb(220,220,220);
	stroke: white;
}

.hold {
	fill: rgb(240,240,240);
	stroke: white;
}

.circle {
	stroke: white;
	fill: rgb(80,80,80);
	stroke-width: 3px;
}

.triangle {
	stroke: white;
	stroke-width: 3px;
	fill: rgb(120,120,120);
}


.highlight {
	background-color: rgb(230,230,230);
}

span.blip-new {
	color: white;
	background-color: rgb(100,100,100);
}

#dropdown-row {
	background: rgb(100,100,100);
	color: white;
}

#dropdown-row form select {
	color: black;
	background-color: rgb(230,230,230);
}

.arc-text {
	stroke: white;
	fill: white;
}

#radar {
	background-color: rgb(255,255,255);
}

#blips {
	background-color: rgb(250,250,250);
}

#button-row li a {
	background-color: white !important;
	color: rgb(10,10,10) !important;
}

#button-row li.active a {
	background-color: rgb(100,100,100) !important;
	color: white !important;
}

#title {
	background-color: white;
	color: rgb(20,20,20);
}