html,body, .container-fluid {
	height: 100%;
}

header {

	text-align: center;
}

#dropdown-row
{
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 0px;
} 

#radar-row {
	height: 75%;
}

#blips {
	overflow: auto;
	height: 100%;
}

#radar {
	height: 100%;
}

.dropdown-row {
	vertical-align: middle;
	margin-top: 5px;
}

.arc
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.arc-name
{
	font-size: 20pt;
	font-family: sans-serif;
}

div.blip {
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border: 2px solid transparent;
}

.blip-num {
	margin-right: 5px;
}

span.blip-new {
	font-family: sans-serif;
	margin-left: 5px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid white;
	border-radius: 5px;
}

.svg-container {
	width: 100%;
	height: 100%;
}

.highlight {
	border: 2px solid white !important;
}

g.faded {
	opacity: 0.1;
}

.banner {
	text-align: center;
}

div.button-col {
	padding: 0px;
}

ul.nav li {
	text-align: center;
	vertical-align: middle;
	height: 50px;
}