<!DOCTYPE html>
<html ng-app="radarApp">
<head>
	<title>Tech Radar</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- theme -->
	<link rel="stylesheet" type="text/css" href="css/grey.css">
</head>
<body ng-controller="RadarChoicesController">
	<header id="title"><h1>{{radar.label}}</h1></header>
	<div class="container-fluid">
		<div class="row" id="dropdown-row">
			<div class="col-lg-12">
				<form class="form-inline">
					<label for="divisionChoice">Division:</label>
					<select id="divisionChoice"
						ng-model="division"
						ng-options="radar.division for radar in radars"
						ng-change="onDivisionSelect()"></select>
		            
		            <label for="radarChoice">Radar:</label>
					<select id="radarChoice"
						ng-model="radar"
						ng-options="radar.label for radar in division.files track by radar.file"
						ng-change="onRadarSelect()"></select>
				</form>
			</div>
		</div>
		<div class="row" id="button-row">
			<button-row></button-row>
		</div>
		<div class="row" id="radar-row">
			<div class="col-md-6 col-sm-6 col-xs-12" id="blips">
				<blip-list></blip-list>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12" id="radar">
				<svg class="svg-container"></svg>
			</div>
		</div>
	</div>
	
	<script src="js/d3.min.js" charset="utf-8"></script>	
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="new-radar.js" charset="utf-8"></script>
    <script src="js/angular-1.4.8.js" charset="utf-8"></script>
    <script src="components/button-row.js" charset="utf-8"></script>
    <script src="components/blip-list.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script>
    	$('document').ready(function() {
    		setup();
    	})
    </script>
</body>
</html>