<div class="arc" ng-repeat="arc in quadrant.data">
	<span class="arc-name">{{arc.arc}}</span>
	<div ng-repeat="item in arc.items"
		class="blip"
		ng-class="{ highlight: item.hover }"
		ng-mouseenter="blipMouseEnter(item)"
		ng-mouseleave="blipMouseLeave(item)"
		id="blip-{{item.idx}}">
		<span class="blip-num">{{item.idx}}</span>
		<span class="blip-text">{{item.name}}</span>
		<span class="blip-new" ng-show="item.status == 'new'">new</span>
	</div>
</div>