<ul class="nav nav-tabs nav-justified">
	<li role="presentation"
		ng-class="{ active: quadrant.selected }"
		ng-click="selectTab(quadrant)"
		ng-repeat="quadrant in radar_data.radars"
		ng-data="{{quadrant.radar}}">
			<a href="#/{{ division.division }}/{{ radar.label }}#{{quadrant.radar}}">{{ quadrant.radar }}</a>
	</li>
</ul>